@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background-size: 700px;
}



body{
    font-family: 'Montserrat', sans-serif;
    background-image:  url("../images/chess-board-isolated-abstract-classic-blue-colorful-background-pattern-seamless-vector-illustration-wallpaper-texture-179422817.jpg");
    background-size: var(--background-size);
    color: white;
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground{
    from {background-position: 0.0;}
    to {background-position: var(--background-size) var(--background-size);}
}


header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    color: #00ffaa;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 8px 0;
    background-color: #0f0f1a;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #0f0f1a;
    color: white;

}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #00ffaa;
}

th{
    background-color: #0f0f1a;
    color: #00ffaa;
}

tr{
    background-color: #1a1a2e;
    font-size: 18px;
}

th, tr, td{
    text-align: center;

}