@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background-size: 700px;
}



body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("/templates/static/images/chess-board-isolated-abstract-classic-blue-colorful-background-pattern-seamless-vector-illustration-wallpaper-texture-179422817.jpg");
    background-size: var(--background-size);
    color: white;
    animation: moveBackground 10s linear infinite;
}

@keyframes moveBackground{
    from {background-position: 0.0;}
    to {background-position: var(--background-size) var(--background-size);}
}


header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    color: #00ffaa;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 8px 0;
    background-color: #0f0f1a;

}

