<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/list.css">
    
    <title>Lista de registros</title>
</head>

<body>
    <header>
        <h1>Lista de registros</h1>
    </header>
    <main>
        <table class="pure-table">
            <thead>
                <tr class="pure-table-odd">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in todos_los_usuarios %}
                <tr class="pure-table-odd">
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.edad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>